on:
  push:
    tags:
    - '*'

name: Upload Release Asset

jobs:
  build:
    name: Upload Release Asset
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Clean project
        run: xcodebuild clean

      - name: Build project
        run: xcodebuild build CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO

      - name: Zip up
        run: |
          cd ./build/Release/
          zip -r "../../Timer.app.zip" "Timer.app/"

      - name: Create Release and Upload Asset
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          files: Timer.app.zip
